<header class="header" [ngClass]="menuExp ? 'header--expanse' : ' '" [ngClass]="hiMenu ? 'goHide-Menu' : ' '">
    <div class="header__logo">
        <img src="./../../../assets/img/omega.png" alt="omega">
    </div>
    <div class="header__content">
        <div class="header__menu">
            <div class="menuList-top">
                <div class="menuList-top__left">
                    <ul>
                        <li>
                            <a [routerLink]="['/page']">LINK 1</a>
                        </li>
                        <li>
                            <a [routerLink]="['/page2']">LINK 2</a>
                        </li>
                        <li>
                            <a [routerLink]="['/page3']">LINK 3</a>
                        </li>
                    </ul>
                </div>
                <div class="menuList-top__right">
                    <ul>
                        <li>
                            <a href="#">unknown 1</a>
                        </li>
                        <li>
                            <a href="#">unknown 2</a>
                        </li>
                        <li>
                            <a href="#">unknown 3</a>
                        </li>
                        <li>
                            <a href="#">unknown 4</a>
                        </li>
                        <li>
                            <a href="#">unknown 5</a>
                        </li>
                        <li>
                            <a href="#">unknown 6</a>
                        </li>
                        <li>
                            <a href="#">unknown 7</a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
        <button (click)="menuExpanse()"  type="button" class="header__btn btn btn__icon">
            <mat-icon >drag_handle</mat-icon>
        </button>
    </div>
    <span class="header__logo header__logo--ghost"></span>
</header>
<button class="hide-btn" (click)="hideMenu()">
    <mat-icon >motion_photos_on</mat-icon>
</button>