.ds-button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 1.5rem;
  gap: 10px;
  border-radius: 100px;
  cursor: pointer;
  margin: 5px 0 0;
  transition: all .3s ease-in-out;

  &:hover{
    margin: 0 0 5px;
  }

  &.disabled{
    opacity: .5;
    pointer-events: none;
    cursor:auto;
  }

  &--primary{
    background: #3756A3;
    border: 1px solid #3756A3;
    color: #fff;
    min-width: 169px;
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }

  &--secondary{
    background: #fff;
    border: 1px solid #1F2022;
    color: #1F2022;
    min-width: 169px;
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.storybook-button {
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
  }
  .storybook-button--primary {
    color: white;
    background-color: red;
  }
  .storybook-button--secondary {
    color: #333;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  }
  .storybook-button--small {
    font-size: 12px;
    padding: 10px 16px;
  }
  .storybook-button--medium {
    font-size: 14px;
    padding: 11px 20px;
  }
  .storybook-button--large {
    font-size: 16px;
    padding: 12px 24px;
  }