<section  class="sectionContainer sectionContainer--fullPage">
    <header></header>
    <body class="bodyScroll">
        <div class="section box001">
            <img class="box001__image" src="../../assets/img/page01-img/bodyImg01.png">
            <span class="box001__colorSpan"></span>
            <img class="box001__imageSLL" src="../../assets/img/page01-img/sll.svg">
            <img class="box001__image001" src="../../assets/img/page01-img/number001.svg">
            <div class="box001__tittle">
                <h1 >Diseñador Ux/Ui</h1>
                <h2>Sergio Lledó Lillo</h2>
            </div>
            <div class="box001__txt box001__txt--01">
                <p>Como diseñador no quiero dejar nunca de aprender y enfrentarme a retos cada vez más dificiles</p>
                <p>El buen diseño es el que resuelve problemas con nuevos enfoques</p>
            </div>
            <!-- <div class="box001__txt box001__txt--02">
            </div> -->
        </div>
        <div class="section box002">
            <img class="box002__image" src="../../assets/img/page01-img/bodyImg02.png">
            <span class="box002__colorSpan"></span>
            <img class="box002__hola" src="../../assets/img/page01-img/hola.svg">
            <p class="box002__txt">Diseñador gráfico formado en la
                Escuela de Arte y Superior de
                Diseño de Alicante.
                Especializado en diseño Ui/Ux con
                dos años de experiencia trabajando en la creación de wireframes
                y prototipos, así como su posterior
                maquetación</p>
        </div>
        <div class="section">
            <h3>aaa</h3>
        </div>
        <div class="section">
            <h3>aaa</h3>
        </div>
        <div class="section">
            <h3>aaa</h3>
        </div>
    </body>
</section>