
//FONT SIZE REM
$font-size-rem-xxs: 0.625rem;
$font-size-rem-xs: 0.75rem;
$font-size-rem-s: 0.875rem;
$font-size-rem-m: 1rem;
$font-size-rem-ml: 1.125rem;
$font-size-rem-l: 1.25rem;
$font-size-rem-xl: 1.5rem;

$base-font-size: $font-size-rem-m;
$base-line-height: 1.5;
