// COLORS

// Basics
$color-black: #000000 !default;
$color-white: #ffffff !default;
$color-gray-extralight: #EEEEEE !default;
$color-gray-light: #ddd !default;
$color-gray: #b5b5b5 !default;
$color-gray-dark: #747474 !default;
$color-gray-extradark: #353436 !default;

