@import "../../scss/1-settings/settings.var.colors";

@keyframes example {
    from {opacity: 0;}
    to {opacity: 0.7;}
  }

@keyframes notificatorBlock {
    0%{
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        bottom: 18px;
        padding: 0;
        overflow: hidden;
    }
    20%{
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        bottom: 0px;
        padding: 0;
        overflow: hidden;
    }
    70%{
        bottom: -30px;
            width: 300px;
            height: 140px;
            border-radius: 2rem;
            transform: translate(calc(-100% + 30px), calc(100% - 55px));
            padding: 2.5rem 1.5rem;
            overflow: hidden;
    }
    100%{
        bottom: -30px;
            width: 300px;
            height: 140px;
            border-radius: 2rem;
            transform: translate(calc(-100% + 30px), calc(100% - 55px));
            padding: 2.5rem 1.5rem;
            overflow: visible;
    }
}
@keyframes notificatorTittle { 
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes expandFastRead { 
    0%{
        width: 100%;
        height: 0;
        padding: 0;
        min-height: 0px;
        overflow: hidden;
    }
    70%{
        padding: 1rem 1.25rem;
        width: 300px;
        height: auto;
        min-height: 80px;
        overflow: hidden;
    }
    100%{
        padding: 1rem 1.25rem;
        width: 300px;
        height: auto;
        min-height: 80px;
        overflow: hidden;
    }
}







.component-container{
    display: flex;
    flex-direction: column;
}
.separator{
    width: 100%;
    margin: 3rem 0;
}

.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 250px;
    background-color: $color-white;
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.25);
    border-radius: 10px;
    background-image: url("../../assets/img/page02-img/close-up-photo-of-cooked-pasta-2456435.jpg");
    background-size: cover;
    padding: 2.5rem;
    p{
        color: $color-gray-extradark;
        position: relative;
        z-index: 10;
        opacity: 0;
        font-size: 1rem;
        text-align: center;
        font-weight: 700;
        line-height: 1.23;
    }
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 400px;
        height: 250px;
        border-radius: 10px;
        background-color: $color-white;
        opacity: 0;
    }
    &:before{
        content: "Noodle with sesame";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 2rem;
        color: $color-white;
        font-weight: 900;
        letter-spacing: 1.35px;
        width: 100%;
        text-align: center;
        text-shadow: 0 0 7px $color-gray-dark
    }
    &:hover{
        p{
            animation-name: example;
            animation-duration: 0.3s;
            animation-fill-mode: forwards; 
        }
        &:after{
            animation-name: example;
            animation-duration: 0.3s;
            animation-fill-mode: forwards; 
        }
        &:before{
            opacity: 0;
        }
    }
}


.searcher{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &__btn{
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        background-color: $color-gray-dark;
        border-radius: 100%;
        outline: none;
        width: 2rem;
        height: 2rem;
        color: #fff;
        transition-delay:  .4s;
        transition-property: all;
        transition: all ease-in-out .3s;
        z-index: 5;
        &--close{
            z-index: 4;
            background-color: transparent;
            color: $color-gray-dark;
            opacity: 0;
            transition-delay:  .3s;
            transition-property: all;
            transition: all ease-in-out .3s;
        }
    }
    &__input{
        border: 0;
        border-radius: 1.3rem;
        outline: none;
        height: 2.5rem;
        padding: 4px 8px;
        width: 42px;
        background-color: transparent;
        transition: all ease-in-out .3s;
        transition-delay: .4s;
        &::placeholder{
            color: $color-gray-dark;
        }
    }
    &.expand{
        .searcher{
            &__btn{
                // animation-name: searcherBtn;
                // animation-duration: 0.3s;
                // animation-delay: .4s;
                // animation-fill-mode: forwards;
                background-color: red;
                transition: all ease-in-out .3s;
                transition-delay: .4s;
                right: calc(100% - 37px);
                &--close{
                    transition: all ease-in-out .3s;
                    transition-delay: .4s;
                    right: 5px;
                    opacity: 1;
                    background-color: transparent;
                    color: $color-gray-dark;
                }
            }
            &__input{
                padding: 4px 8px 4px 47px;
                transition: all ease-in-out .3s;
                width: 250px;
                background-color: #fff;
                // animation-name: searcherInput;
                // animation-duration: 0.3s;
                // animation-fill-mode: forwards; 
            }
        }
    }
}

.notificator{
    position: relative;
    &__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 5;
        border-radius: 100%;
        width: 3rem;
        height: 3rem;
        background-color: #000;
        color: #fff;    
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
        border: 2px solid #000;
        // opacity: .4;
        &:hover{            
            -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
            -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
            border: 2px solid #fff;
        }
    }
    &__block{
        position: absolute;
        bottom: 18px;
        left: 50%;
        transform: translateX(-50%);
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
        display: flex;
        flex-direction: column;
        padding: 0;
        box-sizing: border-box;
        ms-box-sizing: border-box;
        webkit-box-sizing: border-box;
        moz-box-sizing: border-box;
        overflow: hidden;
        .tittle{
            font-size: 1.5rem;
            font-weight: 800;
            color: #000;
            opacity: 0;
            margin-bottom: 1rem;
        }
        .info{
            display: flex;
            width: 100%;
            opacity: 0;
            position: relative;
            &__item{
                &:not(:last-child){
                    margin-right: .5rem;
                }
                cursor: pointer;
                // &.more-info{
                //     margin-left: auto;
                // }
                .profile{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    border-radius: 100%;
                    color: #fff;
                    background-color: $color-gray-dark;
                    width: 2.5rem;
                    height: 2.5rem;
                    font-size: 1.1rem;
                }
                .fast-read{
                    display: flex;
                    flex-direction: column;
                    padding: 1rem 1.25rem;
                    width: 300px;
                    height: 80px;
                    border-radius: 1.5rem;
                    background-color: #fff;
                    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 30%);
                    box-sizing: border-box;
                    ms-box-sizing: border-box;
                    webkit-box-sizing: border-box;
                    moz-box-sizing: border-box;
                    overflow: hidden;
                    position: absolute;
                    bottom: -40px;
                    left: 50%;
                

                    width: 100%;
                    height: 0;
                    padding: 0;
                    overflow: hidden;
                    transform: translate(-50%, 100%);
                    p{
                        margin-bottom: 0;
                    }
                    .message{
                        font-size: 1rem;
                        color: #000;
                        margin-top: 0.25rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }
                &:hover{
                    .profile{
                        background-color: $color-gray-extradark;
                    }
                    .fast-read{
                        animation-name: expandFastRead;
                        animation-duration: 0.6s;
                        animation-fill-mode: forwards;
                        animation-delay: .3s;
                    }
                }
            }
    
        }
        &.active{
            animation-name: notificatorBlock;
            animation-duration: 0.6s;
            animation-fill-mode: forwards;
            animation-direction: normal;
            .info,
            .tittle{
                animation-name: notificatorTittle;
                animation-duration: 0.6s;
                animation-fill-mode: forwards;
                animation-delay: .3s;
            }
        }
    }
}
