

<!-- <div style="
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
"
>
<a href="#" target="blank"> Ruta1</a>
<a href="#" target="blank"> Ruta2</a>
<a href="#" target="blank"> Ruta3</a>
</div>

<div
style="
  width: 100%;
  height: 100%;
  padding-top: 65px;
  background-color: beige;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
"
>
<p>aaa</p>
<comp01></comp01>
</div> -->

<section class="container">
  <header-comp></header-comp>
  <router-outlet></router-outlet>
</section>
